<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>49847171414-7govft803aqq54evtgerhp8lqpigh99e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.49847171414-7govft803aqq54evtgerhp8lqpigh99e</string>
	<key>API_KEY</key>
	<string>AIzaSyATqaWrWmLHUx7FNF9r-No270QVhDne83E</string>
	<key>GCM_SENDER_ID</key>
	<string>49847171414</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.googleSignInBloc</string>
	<key>PROJECT_ID</key>
	<string>fir-withbloc</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-withbloc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:49847171414:ios:54360310a1001920043ef7</string>
</dict>
</plist>